{% extends '::base.html.twig' %}
{% block body %}
<section id="equipos" class="content-section text-center">
	<div class='form-section'>
    	<div class="container">
        	<div class="col-lg-8 col-lg-offset-2">
        		<article>
            		<h1>Ah crap!</h1>
            		<div>These are not the droids you're looking for...</div>
        		</article>
			</div>
		</div>
	</div>
</section>
{% endblock %}