{% extends '::base.html.twig' %}
{% block body %}
    <section class="login">
        <article>
            <h1>Ah crap!</h1>

            <div>General error</div>
        </article>
    </section>
{% endblock %}