{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipos participantes:</h1>

    
       
    <table border="1" >
        
        <ul id="navigation">
           
            {% for e in equipos %}
               
                 <tr>
                     <td>    Nombre: {{ e.getNombre() }}</td>
                      <td>    Origen: {{ e.getOrigen()  }} </td>
                       {% if e.logo is not null and e.logo is not empty %}

                      <td><a href="{{ asset('uploads/logos/' ~ e.logo) }}">View logo</a>
                       {% endif %}
                       </td>

                           
                    
                 </tr>
            {% endfor %}
        </ul>
 </table>
{% endblock %}
