{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partidos:</h1>

    
       
    <table border="1" >
        
        <ul id="navigation">
           
            {% for p in partidos %}
               
                 <tr>
                     <td>    Equipo1: {{ p.getEquipo1().getNombre() }}</td>
                      <td>    Equipo2: {{ p.getEquipo2().getNombre()  }} </td>
                          {% if p.getTermino() %}
                             <td> Puntos Equipo1: {{ p.getPuntosEquipo1()}}</td>
                             <td> Puntos Equipo2: {{ p.getPuntosEquipo2()}}</td>
                              {%if p.getPuntosEquipo1()> p.getPuntosEquipo2() %} 
                                     <td>Ganador: Equipo 1 </td>
                              {% else  %} 
                                    <td>Ganador: Equipo 2 </td>
                              {% endif %} 
                           {% endif %}
                    
                 </tr>
            {% endfor %}
        </ul>
 </table>
{% endblock %}
