{% extends 'base.html.twig' %}

{% block body %}
ADMIN PLACE<br>
{% if fixture <=0 %}
<li class="active link "><a href="{{path('crearFixture')}}">Crear Fixture</a></li>
{% endif %}
{% endblock %}

{% block form %}
<li class="active link "><a href="{{path('asignarEditores')}}">Asignar editores</a></li>
{% endblock %}