{% extends 'base.html.twig' %}

{% block body %}
ADMIN PLACE<br>
{% endblock %}

{% block form %}
<li class="active link "><a href="{{path('asignarEditores')}}">Asignar editores</a></li>
{% endblock %}