{% extends 'base.html.twig' %}



{% block navList %}
              <li class="active link "><a href="{{path('editarPartidos')}}">Cargar resultados</a></li>
              <li class="active link "><a href="{{path('editarJugadores')}}">Cargar estadisticas de jugadores</a></li>
              
{% endblock %}

