{% extends '/default/admin.html.twig' %}

{% block body %}

    <table border="1" >
        <ul id="navigation">
            {% for p in partidos %}
                 <tr>
                     <td>    {{ p.getEquipo1() }}</td>
                      <td>   [{ p.getEquipo2()  }} </td>
                       <td><select>
                       	{% for e in editores %}
 						<option value='{{ e.getId() }}'>{{ e.getUsername() }}</option>
                       			{% endfor %}
                       </select>
                        </td>
                 </tr>
            {% endfor %}
        </ul>
 </table>
{% endblock %}