{% extends '/forms/editarPartidos.html.twig' %}

{% block form %}
<section id="match" class="container content-section text-center">
<div class='form-section'>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Editar partido: </h2>
                <div class="im-centered row">
                    <form action="{{ path('editarPartido', {'idPartido': ( idPartido ) }) }}" method="POST" enctype="multipart/form-data">
                {{ form_errors(form) }}
               {{ form_row(form.Editor) }}
                    {{ form_row(form.Horario) }}
                <button type="submit" class="btn-default btn-lg movido">Edit</button>
           </form>
        </div>
    </div>
</div>
</section>
{% endblock %}